<html>
<head>
<link rel="stylesheet" href="{{  url_for('static' , filename='css/main.css')  }}">
</head>
<body>
    <div id="container">
      <h1 class="title" >Currency Game </h1>
      <div id="Currency Game">
        <p>Insert Guess in ILS (Dollar 1-100) </p>

         <form action="/result" method="POST">
             <p id="diff" > diffucilty {{ diff }} </p>
             <input class="lginp" id="Guess How much in ILS" name ="Guess" type="text" placeholder="Dollar to ILS Guess">
             <p>
            <input type="hidden" name="name" value="CurrencyGame" />
             <p></p>
                 <button class="prod">Submit Guess</button>
          </form>
      </div>
    </div>
</body>
</html>
