<html>
<head>
<link rel="stylesheet" href="{{  url_for('static' , filename='css/main.css')  }}">
</head>
<body>
<div id="container">
  <h1 class="title">Welcome to Blind Guess Game </h1>
  <div id="GuessGame">
    <p>Test your Luck Insert Guess</p>
	 <form action="/result" method="POST">
         <p id="diff" > diffucilty {{ diff }} </p>
            <p>
           <input type="hidden" name="name" value="GuessGame" />
     <p></p>
    <input class="lginp" id="Guess" name ="Guess" type="text" placeholder="Insert Guess">
         <h3></h3>
   <button  class="prod">Submit Guess</button>
    </form>
  </div>

  </div>

</body>
</html>
