<html>
<head>
<link rel="stylesheet" href="{{  url_for('static' , filename='css/main.css')  }}">

</head>
<body>
<div id="container">
  <h1 id="title" class="title">Games Selection</h1>
  <div id="home">
    <p>Select you Game from the following List</p>
	 <form action = "/selectedgame" method="POST">
         <h3></h3>
         <select class="prod" id="name" name="name">
            <option value="GuessGame">  Guess Game</option>
          <!--  <option value="Mem">  Memory Game</option>  -->
              <option value="CurrencyGame">  Currency Game</option>
              <option value="MemoryGame">  Memory Game</option>
        </select>
         <h3></h3><h3></h3><h3></h3>
          <p>Insert Diffculty level</p>
        <input class="lginp" id="diff" name="diff" type="text" placeholder="Insert Diffculty level text"/>
         <p></p>
         <h3></h3>

            <button class="prod">Go</button>
     </form>
      <form action ="Scores">
                  <button class="prod">Show my Scores</button>
       </form>


  </div>

  </div>

</body>
</html>
