<html>
<head>
<link rel="stylesheet" href="{{  url_for('static' , filename='css/main.css')  }}">

</head>
<body>
<div id="container">
  <h1 id="title" class="title">Games Selection</h1>
  <div id="home">
    <p>Select you Game from the following List</p>
	 <form action = "/selectedgame" method="POST">
      <p>game selection
        <p>
            <p>
         <select id="name" name="name">
            <option value="GuessGame">  Guess Game</option>
          <!--  <option value="Mem">  Memory Game</option>  -->
              <option value="CurrencyGame">  Currency Game</option>
              <option value="MemoryGame">  Memory Game</option>
        </select>
          <p>Insert Diffculty level</p>
        <input id="diff" name="diff" type="text" placeholder="Insert Diffculty level"/>
         <p></p>
         <a type="Submit" class="file_submit">
            <button>Go</button>
         </a>
     </form>
      <form action ="Scores">
            <a type="Submit" class="file_submit">
                  <button>Show my Scores</button>
            </a>
       </form>


  </div>

  </div>

</body>
</html>
