<html>
<head>
<link rel="stylesheet" href="{{  url_for('static' , filename='css/main.css')  }}">
</head>
<body>
    <div id="container">
      <h1 class="title">Memory Game </h1>

<a class="prod_long" id="Alert">
   <button class="btn" type="button" >Click to view secret Numbers</button>
    </a>
        <p></p>
   <div id="MemoryGame1"> </div>
<h3></h3><h3></h3><h3></h3>
        <p>Enter the Numbers you saw </p>

         <form action="/result" method="POST">
             <p id="diff" > diffucilty {{ game.get_Diffuclty() }} </p>
             <input class="lginp_long" id="Enter the Numbers you saw above" name ="Guess" type="text" placeholder="numbers with space seperator">
             <p>
             <p></p>
                 <button class="prod">Submit Guess</button>
          </form>
      </div>
<script>
    function Alert(){
    document.getElementById('Alert').innerHTML = {{ game.get_secret_list() }}
    setTimeout(() => document.getElementById("Alert").remove(), 1000)
}
    document.getElementById("Alert").onclick = function() {
      Alert();
};
</script>
</body>
</html>
