<html>
<head>
<link rel="stylesheet" href="{{  url_for('static' , filename='css/main.css')  }}">
</head>
<body>
    <div id="container">
      <h1 class="title">Memory Game </h1>

<a class="prod" id="Alert">
   <button class="btn" type="button" >Show secret Number</button>
    </a>
        <p></p>
   <div id="MemoryGame1"> </div>
<h3></h3><h3></h3><h3></h3>
        <p>Enter the Numbers you saw </p>

         <form action="/result" method="POST">
             <p id="diff" > diffucilty {{ diff }} </p>
             <input class="lginp" id="Enter the Numbers you saw" name ="Guess" type="text" placeholder="Enter numbers with space seperator">
             <p>
            <input type="hidden" name="name" value="MemoryGame" />
             <p></p>
             <a type="Submit" class="prod">
                 <button class="btn">Submit Guess</button>
             </a>

          </form>
      </div>
<script>
    function Alert(){
    document.getElementById('Alert').innerHTML = {{secret_list}}
    setTimeout(() => document.getElementById("Alert").remove(), 1000)
}

    document.getElementById("Alert").onclick = function() {
      Alert();

};


</script>
</body>
</html>
