<html>
<head>
    <link rel="stylesheet" href="{{  url_for('static' , filename='css/main.css')  }}">
</head>
<body>
<h1 class="title">The scores are </h1>
<h2><div id="scoreMem"> MemoryGame = {{score["MemoryGame"]}}</div></h2>
 <h2><div id="scoreCurr">CurrencyGame = {{score["CurrencyGame"]}}</div></h2>
<h2><div id="scoreGuess">GuessGame = {{score["GuessGame"]}}</div></h2>
<h2><div id="scoretotal" style = "color: green;">total = {{score["total"]}}</div></h2>
<form action="/">
<a type="Submit">
   <button>Back Home</button>
</a>
</form>
</form>
</body>
</html>